<section class="main">
  <form class="login" {{action 'login' on="submit"}}>
    <h1>
      <p class="version">{{version}}</p>
      <p class="title">{{titleHtmlSafe}}</p>
    </h1>
    <p class="float">
      <label for="identification"><i class="fa fa-user"></i>用户名/邮箱：</label>
      {{input id='identification' type='text' value=identification placeholder='请输入您的用户名/邮箱...' }}
    </p>
    <p class="float">
      <label for="password"><i class="fa fa-key"></i>密码：</label>
      {{input id='password' type='password' value=password placeholder='请输入您的密码...' class="showpassword" }}
    </p>
    <p class="clearfix"></p>
    <p class="clearfix">
      {{#if registerable}}
        {{#link-to 'registrations.new' class="btn btn-success pull-right"}}
          注册
        {{/link-to}}
      {{/if}}
      <button type="submit" class="btn btn-warning pull-right">登录</button>
    </p>
    <p>{{copyrightHtmlSafe}}</p>
  </form>
</section>
<div class="browsers">
  <ul>
    {{#each supportedBrowers as |browser|}}
    <li>
      <a target="_blank" href={{browser.url}}>
        <img src={{browser.icon}} />
        <div>{{browser.name}}</div>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
