<div class="demo">
  <h2>在线演示</h2>
  <h3>
    示例
    {{#link-to 'basics.pagination.doc'}}
      <span class="pull-right"><i class="fa fa-file-text-o"></i> 说明文档</span>
    {{/link-to}}
  </h3>
  <div class="show pagination">
    <h4>设置大小</h4>
    <div>
      {{gc-pagination sizing='large' current=3 start=1 total=10}}
    </div>
    <div>
      {{gc-pagination current=3 start=1 total=10}}
    </div>
    <div>
      {{gc-pagination sizing='small' current=3 start=1 total=10}}
    </div>

    <h4>设置分页窗口大小</h4>
    <div>
      {{gc-pagination current=3 start=1 size=7 total=10}}
    </div>

    <h4>设置开始页码大小</h4>
    <div>
      {{gc-pagination current=3 start=2 size=7 total=10}}
    </div>

    <h4>自动锁定回退和前进按钮</h4>
    <div>
      {{gc-pagination current=1 start=1 total=1}}
    </div>
    <div>
      {{gc-pagination current=1 start=1 total=10}}
    </div>
    <div>
      {{gc-pagination current=10 start=4 total=10}}
    </div>
  </div>
</div>
