<div class="menu-items">
  {{#each menus as |menu|}}
    <ul id={{menu.text}} class={{menu.active}}>
      {{#each menu.items as |item|}}
        <li title={{item.text}} data-placement="right" data-toggle="tooltip">
          {{#link-to item.route}}
            <div>
              {{#if expanded}}
              <div class="title pull-left">{{item.text}}</div>
              {{/if}}
              {{#if item.iconUrl}}
                <img class="{{if expanded 'pull-right'}}"
                src={{item.iconUrl}} />
              {{else}}
                <i class="{{item.icon}} {{if expanded 'pull-right'}}"></i>
              {{/if}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
<ul class="menu-triggers">
  {{#each menus as |menu|}}
    <li class={{menu.active}} title={{menu.text}} data-placement="right" data-toggle="tooltip">
      <a href="#{{unbound menu.text}}" data-toggle="tab" {{action
        'triggerMenu' menu}}>
        {{#if menu.iconUrl}}
          <img class="menu-trigger" src={{menu.iconUrl}} />
        {{else}}
          <i class="{{menu.icon}}" class="pull-right"></i>
        {{/if}}
        <div class="title">{{menu.text}}</div>
      </a>
    </li>
  {{/each}}
</ul>
