<div class="menu-items">
  {{#each view.menus}}
    <ul id={{text}} class={{active}}>
      {{#each items}}
        <li title={{text}} data-placement="right" data-toggle="tooltip">
          {{#link-to route}}
            <div>
              {{#if view.expanded}}
              <div class="title pull-left">{{text}}</div>
              {{/if}}
              {{#if iconUrl}}
                <img class="{{if view.expanded 'pull-right'}}" src={{iconUrl}} />
              {{else}}
                <i class="{{icon}} {{if view.expanded 'pull-right'}}"></i>
              {{/if}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
<ul class="menu-triggers">
  {{#each view.menus}}
    <li class={{active}} title={{text}} data-placement="right" data-toggle="tooltip">
      <a href="#{{unbound text}}" data-toggle="tab" {{action 'triggerMenu' this}}>
        {{#if iconUrl}}
          <img class="menu-trigger" src={{iconUrl}} />
        {{else}}
          <i class="{{icon}}" class="pull-right"></i>
        {{/if}}
        <div class="title">{{text}}</div>
      </a>
    </li>
  {{/each}}
</ul>
